@font-face {
  font-family: "Slackey";
  font-weight: normal;
  font-style: normal;
  src:
    url("../fonts/SuperMario256.ttf") format("truetype");
}

@@font-face {
  font-family: "Geo";
  font-weight: normal;
  font-style: normal;
  src:
    url("../fonts/SuperMario256.ttf") format("truetype");
}
